./public/wp-content/cache/
./public/wp-content/uploads/
./public/wp-content/cache/*
./public/wp-content/uploads/*
./public/wp-content/cache/**
./public/wp-content/uploads/**
./public/wp-content/cache/**/
./public/wp-content/uploads/**/
