@import "../css/reset.css"; @import "../css/grid.css"; @import "../css/layout.css"; @import "../css/superfish.css"; @import "../css/contact-form.css"; @import "../css/easyTooltip.css"; @import "../css/prettyPhoto.css"; @import "../css/skin.css";
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Global properties ======================================================== */
html {width:100%;}

body { 	 
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	color:#0e0c0d;
	min-width:980px;
	
	background:url(../images/bg111.jpg) center 0 repeat-x #1d1d1d;
}

.bg {width:100%; background:url(../images/bg-top.jpg) center 0 no-repeat;}

.main {
	width:940px; 	
	padding:0;
	margin:0 auto;
	font-size:12px;
	line-height:18px;
}

.mainp {
	width:100%; 	
	padding:0;
	margin:0 auto;
	font-size:12px;
	line-height:18px;
}
a {color:#0e0c0d; outline:none;}
a:hover {text-decoration:none;}

.clear {clear:both; width:100%; line-height:0; font-size:0;}

.col-1, .col-2, .col-3, .col-4 {float:left;}
.column-1, .column-2, .column-3 {float:left;}  
.col-5 {float:right;}

.wrapper {width:100%; overflow:hidden;}
.extra-wrap {overflow:hidden;}

.col-dir {width:300px; float:right;}
.col-left {width:610px; float:left;}
.col-dirb {position:absolute;	bottom:-55px;}
.asidep { background:#292a29; width:2000; height:60px;}
.asidep .padding { padding:83px 0 0px;}
.asidep h3 { font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:20px; font-weight:bold; color:#fff;}
.asidep .padding-asidep { padding-left:20px;}


.container {width:100%;}

p {margin-bottom:18px;}
.p1 {margin-bottom:8px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}
.p6 {margin-bottom:5px;}
.reg {text-transform:uppercase;}

.fleft {float:left;}
.fright {float:right;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

.title {margin-bottom:18px;}

.it {font-style:italic;}

.letter {letter-spacing:-1px;}

.color-1 {color:#fff;}
.color-2 {color:#000;}
.color-3 {color:#666;}

/*********************************boxes**********************************/
.margin-bot {margin-bottom:35px;}

.spacing {margin-right:35px;}
.spacing2 {margin-right:45px;}
.spacing3 {margin-right:60px;}

.spacing-bot {margin-bottom:25px;}

.indent {padding:0 0 0px 30px;}
.indent2 {padding-left:50px;}
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.img-indent-bot {margin-bottom:25px;}
.img-indent {float:left; margin:0 20px 0px 0;}	
.img-indent2 {float:left; margin:0 13px 0px 0;}	
.img-indent3 {float:left; margin:0 10px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.img-box {float:left; margin-bottom:20px;}	

.prev-indent-bot {margin-bottom:10px;}
.prev-indent {float:left; margin:0 17px 0px 0;}	
.prev-box {float:left; margin-bottom:8px;}	

.border {border:3px solid #000;}
.border2 {border:1px solid #000;}

.buttons a:hover {cursor:pointer;}

.menu li a,
.list-1 li a,
.list-2 li a,
.link,
.logo {text-decoration:none;}	

/*********************************header*************************************/
header {height:600px; width:100%; position:relative; z-index:10;}
header1 {height:1600px; width:100%; position:relative; z-index:10;}
#header { width:100%; height:175px; ; z-index:10;}

.row-1 { width:100%; position:relative; height:130px;}

h1 {position:absolute; left:10px; top:35px;}
.logo {display:block; width:100px; height:84px; text-indent:-5000px; background:url(../images/1min.png) 0 0 no-repeat;}

h2 {font-size:40px; line-height:1.2em; margin:0px 0 20px; color:#CC0000; font-family: 'Arial', cursive; font-weight:bold; position:relative;}
.logo {display:block; width:100px; height:84px; text-indent:-5000px; background:url(../images/1min.png) 0 0 no-repeat;}
h2.b {font-size:40px; line-height:1.2em; margin:0px 0 20px; color:#CC0000; font-family: 'Lobster', cursive; font-weight:normal; padding-left:60px;}
a {text-decoration: none;}

.titulo {position:absolute; top:53px; left:125px; width:100%; color:#343534; font-family: 'Arial'; font-size:28px; font-weight:bold; }

.search {position:absolute; top:44px; right:2px; width:241px;}
#form-1 input {width:201px; color:#000; padding:10px 33px 9px 7px; float:left; font-family:Georgia, "Times New Roman", Times, serif; margin:0px; background:url(../images/bg-form-11.png) 0 0 repeat-x; font-size:11px; border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px; border-left:2px solid #a18d20; border-top:none; border-bottom:1px solid #f6ea8e; border-right:1px solid #f6ea8d; outline:none;}
#form-1 a {display:inline-block; width:20px; height:17px; background:url(../images/bg-a-form-1.png) 0 0 no-repeat; position:absolute; top:8px; right:9px;}
#form-1 a:hover {width:20px; height:17px; background:url(../images/bg-a-form-1.png) 0 -17px no-repeat;}

.row-2 {width:100%; position:relative; background:url(../images/bg-row-2.png) center 0 no-repeat; height:61px; position:relative; z-index:10;}

.row-3 {width:100%; position:relative; height:425px; z-index:1; background:url(../images/bg-row-3.png) center 0 no-repeat;}

/*********************************content*************************************/
#content {width:100%; padding:19px 0px 47px 0px;  position:relative; z-index:1;}
#content1 {width:100%; padding:44px 0px 55px 0px;  position:relative; z-index:1;}
#content2 {width:100%; padding:53px 0px 55px 0px;  position:relative; z-index:1;}

.padding-wrapp { padding-left:29px;}
.padding-wrapp1 { padding-left:31px;}

.spacer-1 {width:100%; background:url(../images/pic-1.gif) 217px 0 repeat-y;}
.spacer-2 {width:100%; background:url(../images/pic-1.gif) 460px 0 repeat-y;}

h3 {font-size:32px; line-height:1.2em; margin:0px 0 20px; color:#343534; font-family: 'Arial', cursive; font-weight:normal; position:relative;}
h3.b {font-size:32px; line-height:1.2em; margin:0px 0 20px; color:#343534; font-family: 'Arial', cursive; font-weight:normal; padding-left:60px;}
h3 span.b1 { position:absolute; display:block; width:50px; height:55px; top:-1px; left:1px; background:url(../images/bg-b1.png) 0 0 no-repeat;}
h3 span.b2 { position:absolute; display:block; width:50px; height:55px; top:-1px; left:2px; background:url(../images/bg-b2.png) 0 0 no-repeat;}
h3 span.b3 { position:absolute; display:block; width:50px; height:55px; top:-1px; left:1px; background:url(../images/bg-b3.png) 0 0 no-repeat;}

h2 {font-size:36px; line-height:1.2em; margin:0px 0 20px; color:#343534; cursive; font-weight:bold; position:relative;}
h2.b {font-size:36px; line-height:1.2em; margin:0px 0 20px; color:#343534; cursive; font-weight:normal; padding-left:60px;}
h2 span.b1 { position:absolute; display:block; width:50px; height:55px; top:-1px; left:1px; background:url(../images/bg-b1.png) 0 0 no-repeat;}
h2 span.b2 { position:absolute; display:block; width:50px; height:55px; top:-1px; left:2px; background:url(../images/bg-b2.png) 0 0 no-repeat;}
h2 span.b3 { position:absolute; display:block; width:50px; height:55px; top:-1px; left:1px; background:url(../images/bg-b3.png) 0 0 no-repeat;}

h4 {font-size:14px; line-height:1.2em; margin:0px 0 20px; color:#343534; font-family: 'Arial', cursive; font-weight:normal; position:relative;}
h4.b {font-size:40px; line-height:1.2em; margin:0px 0 20px; color:#343534; font-family: 'Arial', cursive; font-weight:normal; padding-left:60px;}
h4 span.b1 { position:absolute; display:block; width:50px; height:55px; top:-1px; left:1px; background:url(../images/bg-b1.png) 0 0 no-repeat;}
h4 span.b2 { position:absolute; display:block; width:50px; height:55px; top:-1px; left:2px; background:url(../images/bg-b2.png) 0 0 no-repeat;}
h4 span.b3 { position:absolute; display:block; width:50px; height:55px; top:-1px; left:1px; background:url(../images/bg-b3.png) 0 0 no-repeat;}

h5 {font-size:14px; line-height:1.5em; margin:0px 0 20px; color:#343534; font-family: 'Arial', cursive; font-weight:normal; position:relative;}
h5.b {font-size:14px; line-height:1.5em; margin:0px 0 20px; color:#343534; font-family: 'Arial', cursive; font-weight:normal; padding-left:60px;}
h5 span.b1 { position:absolute; display:block; width:50px; height:55px; top:-1px; left:1px; background:url(../images/bg-b1.png) 0 0 no-repeat;}
h5 span.b2 { position:absolute; display:block; width:50px; height:55px; top:-1px; left:2px; background:url(../images/bg-b2.png) 0 0 no-repeat;}
h5 span.b3 { position:absolute; display:block; width:50px; height:55px; top:-1px; left:1px; background:url(../images/bg-b3.png) 0 0 no-repeat;}

h6 {font-size:11px; line-height:1.2em; margin:0px 0 20px; color:#343534; font-family: 'Arial', cursive; font-weight:normal; position:relative;}

h7 {font-size:32px; line-height:1.2em; margin:0px 0 20px; color:#343534; font-family: 'Arial', cursive; font-weight:normal; position:relative; padding:1px 0 0 0;}
h7.b {font-size:32px; line-height:1.2em; margin:0px 0 20px; color:#343534; font-family: 'Arial', cursive; font-weight:normal; padding-left:60px;}
h7 span.b1 { position:absolute; display:block; width:50px; height:55px; top:-1px; left:1px; background:url(../images/bg-b1.png) 0 0 no-repeat;}
h7 span.b2 { position:absolute; display:block; width:50px; height:55px; top:-1px; left:2px; background:url(../images/bg-b2.png) 0 0 no-repeat;}
h7 span.b3 { position:absolute; display:block; width:50px; height:55px; top:-1px; left:1px; background:url(../images/bg-b3.png) 0 0 no-repeat;}

.scroll {overflow:auto; height:180px; position:relative;}
.scroll .padding-right {height:1%; padding-right:50px;}

.border-bot {width:100%; padding-bottom:40px; background:url(../images/pic-2.gif) 0 bottom repeat-x;}
.border-bot1 {width:100%; padding-bottom:55px; background:url(../images/pic-2.gif) 0 bottom repeat-x;}

.box-5 {width:285px; min-height:301px; background:url(../images/bg-box-5.png) 0 0 no-repeat; border:none; font-size:12px; line-height:16px; color:#3c3516;}
.box-5 .padding {padding:5px;} 
.box-5 .padding .padding {padding:17px 13px 10px 12px;} 
.box-5 .padding strong {color:#3c3516; font-size:12px; line-height:1.2em; font-weight:bold;} 

.box-5.alt {background:url(../images/bg-box-5-h.png) 0 0 no-repeat; color:#d4d4d4;}
.box-5.alt .padding strong {color:#d4d4d4;}
.box-5.alt .lightbox-image img {position:relative;
	z-index:2;
	background:url(../images/bg-box-5-img.jpg) 0 0 repeat-x;}

.button {display:inline-block; background:url(../images/bg-button.gif) 0 0 repeat-x #a7a7a7; font-size:15px; line-height:34px; color:#1d1a23; font-weight:bold; text-decoration:none; padding:0 12px;
box-shadow:0 0 2px #aa9428;
-moz-box-shadow:0 0 2px #aa9428;
-webkit-box-shadow:0 0 2px #aa9428;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
margin-bottom:2px;
}
.button:hover {background:#fcfcfc;}

.button1 {display:inline-block; background:url(../images/bg-button1.gif) 0 0 repeat-x #a7a7a7; font-size:15px; line-height:34px; color:#fff; font-weight:bold; text-decoration:none; padding:0 12px;
box-shadow:0 0 2px #aa9428;
-moz-box-shadow:0 0 2px #aa9428;
-webkit-box-shadow:0 0 2px #aa9428;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
margin-bottom:2px;
}
.button1:hover {background:#fff; color:#414141;}

.list-0 li {line-height:30px; padding-left:0px;}
.list-0 li a {color:#0e0c0d; font-size:14px; text-decoration:none;}
.list-0 li a:hover {color:#575A4C;}

.list-1 li {line-height:30px; padding-left:27px; background:url(../images/marker-list-1.png) 0 8px no-repeat;}
.list-1 li a {color:#0e0c0d; font-size:12px; font-weight:bold; text-decoration:none;}
.list-1 li a:hover {color:#fff;}

.list-2 li {font-size:12px; line-height:30px; padding:0px; vertical-align:top; background:url(../images/pic-1.gif) 0 bottom repeat-x;}
.list-2 li a {display:block; color:#b1b0b0; padding-left:10px; background:url(../images/marker-list-2.gif) 0 14px no-repeat; text-decoration:none;}
.list-2 li a:hover {color:#fff;}
.list-2 .last {background:none;}

.list-3 li {line-height:34px; text-transform:uppercase; margin-bottom:20px; border-radius:10px; -moz-border-radius:30px; -webkit-border-radius:10px; position:relative; overflow:hidden;}
.list-3 li a {color:#1d1a23; font-size:16px; font-weight:bold; text-decoration:none; background:url(../images/bg-a-list31.jpg) 0 0 repeat-x; display:block; padding-left:17px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border-right:1px solid #a39028;}
.list-3 li a:hover {color:#fff; background:url(../images/bg-a-list31.jpg) 0 -44px repeat-x;}

.list-4 li {line-height:34px; text-transform:uppercase; margin-bottom:20px; border-radius:100px; -moz-border-radius:30px; -webkit-border-radius:10px; position:relative; overflow:hidden;}
.list-4 li a {color:#1d1a23; font-size:14px; font-weight:bold; text-decoration:none; background:url(../images/bg-a-list31a.jpg) 0 0 repeat-x; display:block; padding-left:17px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border-right:1px solid #a39028;}
.list-4 li a:hover {color:#fff; background:url(../images/bg-a-list31a.jpg) 0 -44px repeat-x;}

.list-5 li {line-height:24px; margin-bottom:0px; border-radius:10px; -moz-border-radius:30px; -webkit-border-radius:10px; position:relative; overflow:hidden;}
.list-5 li a {color:#1d1a23; font-size:14px; font-weight:bold; text-decoration:none; display:block; padding-left:17px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }
.list-5 li a:hover {color:#fff;}



.link-1 {display:inline-block; font-size:14px; padding-right:8px; background:url(../images/marker-3.gif) right 8px no-repeat;}
.link-1:hover {color:#fff;} 

.text-1 {font-size:14px;} 
.text-2 {font-size:14px; line-height:1.285em;}  

dl {line-height:16px !important;}
dl span {float:left; width:85px;}
dl strong {float:right; width:139px; font-weight:normal;}
dl dd {font-size:12px; line-height:20px;}
dl a {text-decoration:none; color:#0e0c0d; font-weight:bold;}
dl a:hover {text-decoration:none; color:#fff;}


#form-2 input {width:235px; color:#0e0c0d; padding:9px 7px 9px 17px;  font-family:Arial, Helvetica, sans-serif; margin:0px; background:url(../images/bg-form-2.png) 0 0 repeat-x; border-left:2px solid #ac942d; border-bottom:#fde986 1px solid; border-right:#fde986 1px solid; border-top:none; font-size:12px; margin-bottom:11px; border-radius:10px;
-moz-border-radius:10px; -webkit-border-radius:10px;  outline:none;}
#form-2 a { display:inline-block; width:103px; height:39px; background:url(../images/a-form-2.png) 0 0 no-repeat;}
#form-2 a:hover {background:url(../images/a-form-2.png) 0 -39px no-repeat;}

.buttons {padding-top:30px;}
.buttons a {margin-right:10px;}

.map {padding:5px; background:#fff; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; box-shadow:2px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow:4px 4px 4px rgba(0,0,0,0.3);
-webkit-box-shadow:4px 4px 4px rgba(0,0,0,0.3); margin-bottom:12px;}
.map iframe {width:337px; height:293px;}
/****************************acide************************/
aside { background:#292a29; width:100%; min-height:100px;}
aside .padding { padding:43px 0 20px;}
aside h3 { font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:20px; font-weight:bold; color:#fff;}
aside .padding-aside { padding-left:40px;}
/****************************footer************************/
footer {width:100%; background:url(../images/bg-footer.gif) 0 top repeat-x #1d1d1d; text-align:center;}
footer span { font-size:12px; line-height:30px; color:#b1b0b0;}
footer span a { text-decoration:none; color:#b1b0b0;}
footer span a:hover { color:#fff;}


.list-services {position:absolute; top:13px; right:4px; display:block; width:90px; height:33px;}
.list-services li {float:left; padding:0 8px 0 0px;}
.list-services li.last { padding:0px;}
.list-services li a.m1 {background:url(../images/icon-1.png) 0 0 no-repeat; width:32px; height:31px; display:block;}
.list-services li a.m1:hover {background:url(../images/icon-1.png) 0 -31px no-repeat; width:32px; height:31px;}
.list-services li a.m2 {background:url(../images/icon-2.png) 0 0 no-repeat; width:32px; height:31px; display:block;}
.list-services li a.m2:hover {background:url(../images/icon-2.png) 0 -31px no-repeat; width:32px; height:31px;}
.list-services li a.m3 {background:url(../images/icon-4.png) 0 -32px no-repeat; width:30px; height:31px; display:block;}
.list-services li a.m3:hover {background:url(../images/icon-4.png) 0 0px no-repeat;}
.list-services li a.m4 {background:url(../images/icon-6.png) 0 -32px no-repeat; width:30px; height:31px; display:block;}
.list-services li a.m4:hover {background:url(../images/icon-6.png) 0 0px no-repeat;}

.list-services1 {margin-left:350px; margin-bottom:300px; height:61px; position:relative; z-index:00;}
.list-services1 li {float:left; padding:0 15px 0 0px; margin-bottom:10px;}
.list-services1 li a.m1 {background:url(../images/icon-3.png) 0 -32px no-repeat; width:30px; height:31px; display:block;}
.list-services1 li a.m1:hover {background:url(../images/icon-3.png) 0 0px no-repeat;}
.list-services1 li a.m2 {background:url(../images/icon-4.png) 0 -32px no-repeat; width:30px; height:31px; display:block;}
.list-services1 li a.m2:hover {background:url(../images/icon-4.png) 0 0px no-repeat;}
.list-services1 li a.m3 {background:url(../images/icon-5.png) 0 -32px no-repeat; width:30px; height:31px; display:block;}
.list-services1 li a.m3:hover {background:url(../images/icon-5.png) 0 0px no-repeat;}
.list-services1 li a.m4 {background:url(../images/icon-6.png) 0 -32px no-repeat; width:30px; height:31px; display:block;}
.list-services1 li a.m4:hover {background:url(../images/icon-6.png) 0 0px no-repeat;}
.list-services1 li a.m5 {background:url(../images/icon-7.png) 0 -32px no-repeat; width:30px; height:31px; display:block;}
.list-services1 li a.m5:hover {background:url(../images/icon-7.png) 0 0 no-repeat;}
.list-services1 li a.m6 {background:url(../images/icon-8.png) 0 0 no-repeat; width:30px; height:31px; display:block;}
.list-services1 li a.m6:hover {background:url(../images/icon-8.png) 0 -32px no-repeat;}
.list-services1 li a.m7 {background:url(../images/icon-9.png) 0 0 no-repeat; width:30px; height:31px; display:block;}
.list-services1 li a.m7:hover {background:url(../images/icon-9.png) 0 -32px no-repeat;}
.list-services1 li a.m8 {background:url(../images/icon-10.png) 0 0 no-repeat; width:30px; height:31px; display:block;}
.list-services1 li a.m8:hover {background:url(../images/icon-10.png) 0 -32px no-repeat;}
.list-services1 li a.m9 {background:url(../images/icon-11.png) 0 0 no-repeat; width:30px; height:31px; display:block;}
.list-services1 li a.m9:hover {background:url(../images/icon-11.png) 0 -32px no-repeat;}

.list-services11 {margin-left:350px;  height:61px; position:relative; z-index:00;}
.list-services11 li {float:left; padding:0 15px 0 0px; margin-bottom:10px;}
.list-services11 li a.m1 {background:url(../images/icon-3.png) 0 -32px no-repeat; width:30px; height:31px; display:block;}
.list-services11 li a.m1:hover {background:url(../images/icon-3.png) 0 0px no-repeat;}
.list-services11 li a.m2 {background:url(../images/icon-4.png) 0 -32px no-repeat; width:30px; height:31px; display:block;}
.list-services11 li a.m2:hover {background:url(../images/icon-4.png) 0 0px no-repeat;}
.list-services11 li a.m3 {background:url(../images/icon-5.png) 0 -32px no-repeat; width:30px; height:31px; display:block;}
.list-services11 li a.m3:hover {background:url(../images/icon-5.png) 0 0px no-repeat;}
.list-services11 li a.m4 {background:url(../images/icon-6.png) 0 -32px no-repeat; width:30px; height:31px; display:block;}
.list-services11 li a.m4:hover {background:url(../images/icon-6.png) 0 0px no-repeat;}
.list-services11 li a.m5 {background:url(../images/icon-7.png) 0 -32px no-repeat; width:30px; height:31px; display:block;}
.list-services11 li a.m5:hover {background:url(../images/icon-7.png) 0 0 no-repeat;}
.list-services11 li a.m6 {background:url(../images/icon-8.png) 0 0 no-repeat; width:30px; height:31px; display:block;}
.list-services11 li a.m6:hover {background:url(../images/icon-8.png) 0 -32px no-repeat;}
.list-services11 li a.m7 {background:url(../images/icon-9.png) 0 0 no-repeat; width:30px; height:31px; display:block;}
.list-services11 li a.m7:hover {background:url(../images/icon-9.png) 0 -32px no-repeat;}
.list-services11 li a.m8 {background:url(../images/icon-10.png) 0 0 no-repeat; width:30px; height:31px; display:block;}
.list-services11 li a.m8:hover {background:url(../images/icon-10.png) 0 -32px no-repeat;}
.list-services11 li a.m9 {background:url(../images/icon-11.png) 0 0 no-repeat; width:30px; height:31px; display:block;}
.list-services11 li a.m9:hover {background:url(../images/icon-11.png) 0 -32px no-repeat;}
/*************Lightbox image***************/
.lightbox-image {
	position:relative;
	overflow:hidden;
	display:block;
	}
.lightbox-image img {
	position:relative;
	z-index:2;
	background:#fff;
	}
.lightbox-image:hover img {
	position:relative;
	z-index:2;
	background:#242524;
	}
.lightbox-image span {
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url(../images/magnify.png) no-repeat 50% 50%;
	z-index:1;
	}